@model List<Webapp.Models.Superheroes.SuperPowerViewModel>

<h2>Moce bohatera: @ViewBag.SuperheroName</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nazwa mocy</th>
            <th>Liczba innych bohaterów z tą mocą</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var power in Model)
        {
            <tr>
                <td>@power.PowerName</td>
                <td>@power.SuperheroCount</td>
            </tr>
        }
    </tbody>
</table>